@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Regular.ttf') format('truetype');font-weight:400;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Light.ttf') format('truetype');font-weight:300;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Medium.ttf') format('truetype');font-weight:500;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Bold.ttf') format('truetype');font-weight:bold;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Semibold.ttf') format('truetype');font-weight:600;font-display:fallback}
@font-face{font-family:'SFProDisplay';src:url('../font/SFPRODISPLAY/SFProDisplay-Heavy.ttf') format('truetype');font-weight:800;font-display:fallback}

:root {
    --white: #fff;
    --black: black  ;
    --text-color: #333;
    --yellow: #FFD700;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 3px;
    /* height:50px; */
}

.home-service::-webkit-scrollbar,.menu-list::-webkit-scrollbar{
    height:4px;
    max-width: 10px;
}

.home-service::-webkit-scrollbar-track,.menu-list::-webkit-scrollbar-track,body::-webkit-scrollbar-track {
    background-color: #fafafa;
}


.home-service::-webkit-scrollbar-thumb,.menu-list::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {  
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #fff;
    position: relative;
}

body,input,button,textarea,pre {
    font-family: SFProDisplay, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    --moz-appearance: textfield;
}

/* Custom radio buttons */
input[type="radio"]+label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
}

input[type="radio"]+label:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 14px;
    position: absolute;
    top: -3px;
    left: 0;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 50%;
}

input[type="radio"] {
    display: none !important;
}

input[type="radio"]:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--red);
}

input[type="radio"]:checked+label:before {
    border: 1px solid var(--black);
}

/* Custom checkbox */
input[type="checkbox"]+label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    font-size: 13px;
}


input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 14px;
    position: absolute;
    top: -3px;
    left: 0;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 3px;
}

input[type="checkbox"] {
    display: none !important;
}

input[type="checkbox"]:checked+label:after {
    content: "\f00c";
    font-family: "Font Awesome 6 Pro";
    font-size: 15px;
    line-height: 16px;
    color: var(--white);
    display: block;
    position: absolute;
    top: 0;
    left: 4px;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]:checked+label:before {
    border: 1px solid var(--black);
    background-color: var(--black);
}

 

.dnone{
    display: none!important;
}


/* Header Menu */
header {
    background-color: var(--white);
    position: sticky;
    top:0;
    z-index: 15;    
}

.header-top {
    background-color: black;
    height: 30px;
    width: 100%;
    display: none;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-top-list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-top-list a {
    color: var(--white);
    font-size: 14px;
}

.header-top-list a i {
    margin-right: 4px;
}

.header-middle{
    box-shadow: inset 0px -0.5px 0px #e6e6e6;
}

.header-middle .container {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-img {
    width: 60px;
    border-radius: 50%;
}


.header-middle-center {
    padding: 0 30px;
    flex: 1;
}

.form-search {
    display: flex;
    justify-content: center;
    position: relative;
}

.form-search-input {
    height: 40px;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    padding: 10px 20px;
    padding-left: 5px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    width: 65%;
}

.filter-btn,.search-btn {
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-btn {
    background-color: #f0f0f0;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.filter-btn{
    background-color: var(--yellow);
    height: 30px;
    color: var(--black);
    width: 75px;
    border-radius: 99px;
    position: relative;
    right: 80px;
    top: 5px
}

.filter-btn span{
    font-size: 14px;
    margin-left: 5px;
}

.header-middle-right>ul {
    display: flex;
    column-gap: 20px;
}

.header-middle-right-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.auth-container {
    display: flex;
    flex-direction: column;
}

.text-dndk {
    font-size: 12px;
}

.text-tk {
    font-size: 15px;
}

.header-middle-right-item {
    position: relative;
}

.header-middle-right-item i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--yellow);
}

.text-tk i {
    font-size: 14px !important;
    color: var(--text-color) !important;
}

.cart-icon-menu {
    position: relative;
}

.cart-icon-menu span {
    color: var(--white);
    background: black;
    height: 20px;
    left: 20px;
    top: -15px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    padding: 0px 7px;
    z-index: 999999;
}

@keyframes slidein {
    from {
        left: -300px;
        top: 800px;
    }
    to {
        left: 20px;
        top: -15px;
    }
}


.header-middle-right-item:hover .header-middle-right-menu {
    visibility: visible;
    /* transform: scale(1); */
    transform: translateY(0);
    opacity: 1;
}

.header-middle-right-menu {
    position: absolute;
    top: calc(100% + 10px);
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid rgb(239, 239, 239);
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
    min-width: 200px;
    z-index: 2;
    visibility: hidden;
    /* transform: scale(0); */
    transform: translateY(20px);
    opacity: 0;
    transition: visibility 0.3s, transform 0.4s, opacity 0.3s;
}


.header-middle-right-menu::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -10px;
    min-width: 200px;
    height: 10px;
}

.header-middle-right-menu li a {
    font-size: 14px;
    display: inline-block;
    padding: 8px 20px;
    color: var(--text-color);
    width: 100%;
}

.header-middle-right-menu li i {
    font-size: 14px;
    margin-right: 5px;
}

.header-middle-right-menu li:hover {
    background-color: #eee;
}

.header-middle-right-menu .border {
    border-top: 1px solid #eee;
}

.header-middle-right-item.close{
    display: none;
}


/* header bottom */
.header-bottom{ 
    transition: transform 0.6s ease;
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    z-index: 4;
}

.header-bottom.hide{
    transform: translateY(-50px);
}

.header-middle-right-menu{
    right: 0;
}

.menu-list {
    display: flex;
    height: 49px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.menu-link {
    color: black;
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
}

.menu-link:hover::after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.menu-link::after {
    content: "";
    position: absolute;
    height: 2px;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    transition: all 0.3s ease;
}

.menu-link {
    color: black;
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
}

.menu-link:hover::after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.menu-link::after {
    content: "";
    position: absolute;
    height: 2px;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    transition: all 0.3s ease;
}


.advanced-search{
    background-color: var(--white);
    position: fixed;
    z-index: 11;
    width: 100%;
    transform: translateY(-50px);
    transition: transform 0.6s ease;
}

.advanced-search.open{
    transform: translateY(0);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
}

.advanced-search .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
.advanced-search-price{
    display: flex;
    height: 49px;
    align-items: center;
}

#advanced-search-category-select{
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-right: 10px solid #f0f0f0;
    cursor: pointer;
}

.advanced-search-size input{
    border: none;
    outline: none;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.advanced-search-price input{
    border: none;
    outline: none;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.advanced-search span{
    margin: 0 10px;
    font-size: 15px;
    color: var(--text-color);
}

#advanced-search-price-btn,.advanced-search-control button{
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

#advanced-search-price-btn{
    margin-left: 10px;
    background-color: black;
    color: var(--white);
    font-size: 20px;
}

.advanced-search-control button:hover{
    background-color: black;
    color: var(--white);
}

.home-slider{
    display: flex;
}

.home-slider img {
    width: 100%;
    height: 680px;
    object-fit: cover;
    border-radius: 5px;
}

.home-service{
    display: flex;
    margin-top: 30px;
    column-gap: 20px;
    scroll-margin-top: 30px;
    white-space: nowrap;
    overflow-x: auto;
    margin: 10px 0;
    padding:10px 3px;
    background-color: rgb(174, 167, 167);
}

.home-service-item{
    box-shadow: 0px 1px 9px 2px #f1f1f1;
    width: 25%;   
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
}

.home-service-item-icon i{
    font-size: 40px;
    margin-right: 25px;
    color: var(--yellow);
}

.home-service-item-content-h{
    font-size: 15px;
    color: var(--text-color)
}

.home-service-item-content-desc{
    margin-top: 4px;
    font-size: 14px;
    color:black;
}

.home-title {
    font-weight: 600;
    text-align: center;
    font-size: 21px;
    position: relative;
    text-transform: uppercase;
    margin-top: 30px;
    color:black;
}
.home-title:hover{
    color: red;
    cursor: pointer;
}
    

/*  */
.no-result{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

    .no-result-h{
        font-size: 25px;
        margin: 10px
    }

    .no-result-p{
        width: 100%;
        color: #757575;
        text-align: center;
    }

    .no-result i{
        color: #757575;
        font-size: 80px;
        margin-top: 30px;
    }

.home-products {
    display: flex;
    flex-wrap: wrap;
    padding:  20px;
    margin: 15px 60px 0;
}

.col-product {
    width: 20%;
    height: 346px;
    padding: 10px;
    overflow: hidden;
}

.card-product {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.card-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    position: relative;
}

.card-header strong {
    position: absolute;
    color: var(--white);
    background-color: black;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    border-radius: 23px 23px 23px 0px;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

.card-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
}

.card-image:hover {
    transform: scale(1.05);
}

.card-image-link {
    display: block;
    width: 100%;
    height: 100%;
}

.card-content {
    padding: 8px 10px;
    text-align: center;
}

.card-title-link {
    color: black    ;
    font-size: 16px;
    font-weight: 500;
}

.card-footer {
    padding: 5px 10px 10px;
}

.product-price{
    text-align: center;
}

.product-price .current-price {
    color: red;
    font-weight: 600;
    font-size: 15px
}

.product-price .old-price {
    text-decoration: line-through;
    color: #808080;
    font-size: 13px;
    margin-left: 5px;
}

/* Page Nav  */

.page-nav,.page-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
}

.page-nav-item a {
    display: inline-block;
    color: black;
    border: 2px solid #000;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    font-size: 15px;
}

.page-nav-item.active a,.page-nav-item a:hover {
    background-color: black;
    color: white ;
}

 /*Modal Box*/
 .modal {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 16;
}

.modal.open {
    pointer-events: auto;
    opacity: 1;
}

.modal.open .modal-container{
    transform: scale(1);
}

.modal-close {
    background-color: rgb(0 0 0 / 40%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: var(--white);
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-close i {
    transition: all 0.4s;
}

.modal-close:hover i {
    transform: rotate(180deg)
}

.modal-container {
    background-color: var(--white);
    max-height: calc(100vh - 60px);
    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-y: overlay;
    position: relative;
    transform: scale(0.8);
    transition: 0.3s ease;
}

.product-detail .modal-container {
    width: 585px;
}

.signup-login .modal-container {
    width: 380px;
}

/* sign up */
.modal.signup-login .modal-container {
    overflow: hidden;
}

.modal-container .forms {
    width: 200%;
    display: flex;
    align-items: center;
    /* height: 545px; */
    /* transition: height 0.2s ease; */
}

.modal-container.active .forms {
    height: 375px;
}

.modal-container.active .sign-up {
    margin-left: -50%;
}

.form-content {
    padding: 20px;
    width: 50%;
    /* transition: margin-left 0.15s ease; */
}

.form-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.form-description {
    text-align: center;
    color: #808080;
    font-size: 14px;
}

.login-form,
.signup-form {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s linear;
}

.form-control.error {
    border-color: red;
}

.form-control:focus {
    border-color: var(--text-color);
}

.form-message {
    color: red;
    font-size: 13px;
    margin-top: 10px;
}

.form-submit {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    background-color: var(--yellow);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.form-close {
    background-color: rgba(0, 0, 0, .3);
    height: 30px;
    width: 30px;
    line-height: 29px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}

.change-login a,
label a {
    color:rgb(225, 24, 24);
}

.change-login {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
}

/* Test login sign up */
.lg-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg-container button {
    width: 50%;
    border: 0;
    outline: none;
    height: 40px;
    color: #fff;
    background-color: var(--black);
    cursor: pointer;
}

.lg-container button:first-of-type {
    border-right: 1px solid #eee;
}

/* Footer */
/* Css footer */
.footer {
    background-color: #f2f2f2;
    margin-top: 30px;
    border-top: 4px solid var(--red);
}

.footer .container {
    margin: 0 auto;
    display: block;
}

.widget-area {
    padding: 60px 0 30px;
}

.widget-row {
    display: flex;
    justify-content: space-between;
}

.widget-row-col {
    width: 15%;
}

.widget-row-col-1 {
    width: 25%;
}

.widget-row>div{
    padding: 0 10px 10px;
}

.widget-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.widget-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: none;
    height: 3px;
    width: 100px;
    background-image: linear-gradient(to right, black , transparent);
}

.widget-row-col-content {
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.widget-social {
    display: flex;
}

.widget-social-item {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.widget-contact-item {
    margin-bottom: 12px;
}

.widget-contact-item i {
    transition: transform 0.3s linear;
}

.widget-contact-item a {
    color: #2C2C2C;
}
.widget-social-item:hover {
    background-color: rgb(170, 49, 49);
    transform: scale(1.1);
    border: none;
}

.widget-social-item:hover i {
    color: #fff;
}

.widget-contact-item:hover i {
    transform: translateX(4px);
}

.widget-contact i {
    font-size: 16px;
    margin-right: 10px;
}

.widget-contact span {
    font-weight: 400;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    color: red
}

.contact-content {
    margin-left: 10px;
    width: 80%;
    line-height: 1.5;
    font-size: 15px;
}

.form-ground {
    display: flex;
}

.form-ground-input,
.form-ground-btn {
    margin: 10px 0;
    height: 45px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

.form-ground-input {
    padding: 0 30px;
    border: 1px solid #ccc;
    color: #4D5765;
    outline: none;
    font-size: 15px;
}

.form-ground-btn {
    cursor: pointer;
    background: red;
    overflow: hidden;
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin-left:12px ;
}

.form-ground-btn:hover {
    color: white;
    background-color:rgb(203, 51, 51);
}

.widget-row-col-1 img{
    height:80px;
}



.copyright-wrap {
    background: #f3f5f7;
    color: var(--text-color);
    margin: unset;
    padding: 18px 0;
    border-top: 1px solid #e6e6e6;
}

.copyright-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
